.dropdown{
    @apply relative inline-block;
}

.dropdown-content{
    @apply hidden absolute bg-white min-w-max shadow-md z-10 text-center rounded-lg left-0 right-0;

    left: 50% !important;
    right: auto !important;
    transform: translate(-50%, 0) !important;
}

.dropdown-content a{
    @apply text-gray-600 py-2 px-4 block hover:bg-gray-100 hover:rounded-lg;
}

.dropdown:hover{ 
    .dropdown-content{
        @apply block;
    }
    .dropbtn{
        @apply text-gray-300;
    }
}