<nav class="absolute top-0 right-0 left-0">
  <div class="h-screen w-screen z-50" *ngIf="loginPopup">
    <app-login (disLogin)="removeLogin()" (onSignup)="addSignup($event)" (request)="addRequest()"></app-login>
  </div>
  <div class="h-screen w-screen z-50" *ngIf="signupPopup">
    <app-signup (disSignup)="removeSignup()" (login)="addLogin($event)" ></app-signup>
  </div>
  <div class="h-screen w-screen z-50" *ngIf="requestPopup">
    <app-request-reset (disRequest)="removeRequest()" ></app-request-reset>
  </div> 
  <div
    class="mx-32 md:px-4 md:flex md:justify-between md:items-center text-white font-bold mt-4"
  >
    <div class="flex justify-between items-center py-2">
      <div class="flex items-center">
        <img
          src="/assets/images/homepage/logoLight.png"
          alt="logo"
          class="block mr-8"
        />
        <h6 class="text-lg">E-Shop</h6>
      </div>
      <div
        class="px-4 cursor-pointer md:hidden"
        id="burger"
        (click)="togggleMenu()"
      >
        <fa-icon [icon]="bars" class="h-6 w-6"></fa-icon>
      </div>
    </div>
    <div>
      <a class="mr-12" routerLink="" >Men</a>
      <a class="" routerLink="" >Women</a>
      <a class="ml-12" routerLink="" >Kids</a>
    </div>
    <div class="text-sm hidden md:flex md:items-center" id="menu">
      <div>
        <input
          #searchBar
          *ngIf="showSearchBar"
          placeholder="filter"
          animated="true"
          debounce="700"
        />
        <button (click)="toggleSearchBar()" ion-button icon-only>
          <fa-icon [icon]="search" class="mr-12"></fa-icon>
        </button>
      </div>
      <a class="mr-12" routerLink="cart">
        <fa-icon [icon]="shoppingCart"></fa-icon>
      </a>
      <div class="dropdown">
        <button class="dropbtn">
          <fa-icon [icon]="user" class="" routerLink="cart"></fa-icon>
        </button>
        <div class="dropdown-content">
          <a class="" href="#" (click)="addLogin($event)" *ngIf="!loggedIn">Log in</a>
          <a class="" href="#" (click)="addSignup($event)"*ngIf="!loggedIn">Sign Up</a>
          <a class="" routerLink="orders" *ngIf="loggedIn">Orders</a>
          <a class="" routerLink="profile" *ngIf="loggedIn">Profile</a>
          <a class="" href="#" (click)="logOut($event)" *ngIf="loggedIn">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</nav>
