<div class="backGround">
  <div class="boxBackGround grid justify-items-center">
    <fa-icon [icon]="cancel" class="grid justify-self-end cursor-pointer" (click)="removeRequest()"></fa-icon>
    <div class="">
      <h2 class="text-center my-4 font-medium text-2xl">
        Forgot your password?
      </h2>
      <p class="text-center my-4 text-gray-400">
        Enter your email and recover your account
      </p></div>
    <div class="mt-6">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="">
          <input
            type="email"
            class="rounded-full border-zinc-400 focus:border-black hover:border-black w-80"
            id="Email"
            aria-describedby="emailHelp"
            placeholder="Email"
            formControlName="email"
          />
          <div class="block h-6 text-red-500 px-4 text-sm">
            <span *ngIf="
                resetForm.get('email')!.errors?.required &&
                (resetForm.get('email')!.touched ||
                  resetForm.get('email')!.dirty)
              ">
              Enter your Email Address.
            </span>
            <span *ngIf="
                resetForm.get('email')!.errors?.email &&
                (resetForm.get('email')!.touched ||
                  resetForm.get('email')!.dirty)
              ">
              Enter a valid Email Address.
            </span>
          </div>
        </div>
        <button
          [disabled]="!resetForm.valid"
          type="submit"
          class="my-6 p-3 rounded-full w-80 text-white font-medium"
          [ngClass]="{
            buttonEnable: resetForm.valid,
            'bg-orange-300': !resetForm.valid
          }"
        >
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
