<div class="mx-32 my-16 grid grid-cols-5 gap-x-16">
    <div class="col-span-2">
        <div class="flex items-center">
            <img src="/assets/images/homepage/logoDark.png" alt="logo" class="block mr-8">
            <h6 class="text-lg"><span class="text-orange-300" >E-</span>Shop</h6>
        </div>
        <p class="text-gray-400 my-14" >
            House My Brand designs for the young, the old & everyone in between - but most importantly, for the fashionable
        </p>
        <div>
            <fa-icon [icon]="facebook" class="text-gray-400 mr-10 font-semibold"></fa-icon>
            <fa-icon [icon]="twitter" class="text-gray-400 mr-10 font-semibold"></fa-icon>
            <fa-icon [icon]="linkedIn" class="text-gray-400 mr-10 font-semibold"></fa-icon>
            <fa-icon [icon]="insta" class="text-gray-400 mr-10 font-semibold"></fa-icon>
            <fa-icon [icon]="youtube" class="text-gray-400 mr-10 font-semibold"></fa-icon>
        </div>
    </div>
    <div>
        <h6 class="mb-8 font-semibold">Shopping Online</h6>
        <a href="" class="block mb-2">Order Status</a>
        <a href="" class="block mb-2">Shipping and Delivery</a>
        <a href="" class="block mb-2">Returns</a>
        <a href="" class="block mb-2">Payments Option</a>
        <a href="" class="block mb-2">Contact Us</a>
    </div>
    <div>
        <h6 class="mb-8 font-semibold">Information</h6>
        <a href="" class="block mb-2">Gift Cards</a>
        <a href="" class="block mb-2">Find a store</a>
        <a href="" class="block mb-2">Newsletter</a>
        <a href="" class="block mb-2">Become a member</a>
        <a href="" class="block mb-2">Site Feedback</a>
    </div>
    <div>
        <h6 class="mb-8 font-semibold">Contact</h6>
        <a href="" class="block mb-2">store@uikit.com</a>
        <a href="" class="block mb-2">Hotline: +1 131 138 138</a>
    </div>
</div>
